/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: black;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
  color: black;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}


/* hero section */
.hero-section{
  width: 100%;
  min-height: 80vh;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}
.left-side{
  flex: 1 1 450px;
  border: 1px solid blue;
}
.left-side h2{
  text-align: center;
}
.right-side{
  flex: 1 1 450px;
  border: 1px solid blue;
  height: 80vh;
  overflow: hidden;
}
.right-side .img{
  pad: 10px;
}
.right-side .img img{
  width: 100%;
  background-position: center;
}