ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: black;
  }
  
  li {
  float: left;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: white;
    color: black;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 25%;
    max-height:15%;
    float: left;
  }
  
 p {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
  }